.shadow {
  overflow: hidden;
}
.header {
  padding-top: 85px;
  padding-bottom: 492px;
  &__shadow-one,
  &__shadow-two,
  &__shadow-three {
    position: absolute;
    z-index: -1;
    border-radius: 100%;
  }
  &__shadow-one {
    width: 611px;
    height: 635px;
    background: #AB988A;
    filter: blur(266.5px);
    right: 0;
    top: -300px;
  }
  &__shadow-two {
    width: 827.86px;
    height: 820px;
    background: rgba(115, 87, 69, 0.64);
    filter: blur(276.5px);
    right: 0;
    z-index: -3;
    top: 370px;
  }
  &__shadow-three {
    background: #AB988A;
    filter: blur(266.5px);
    width: 611.47px;
    height: 635.34px;
    top: 250px;
    z-index: -3;
  }
}
.menu {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -40px;
  }
  &__list {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.045em;
  }

  &__list-item+
  &__list-item {
    margin-left: 70px;
  }
  &__list-link {
    color: rgba(14, 7, 1, 0.7);
  }
}
.logo {
  margin-right: auto;
  margin-left: -40px;
}
.subheader {
  position: relative;
  &__img {
    position: absolute;
    top: -90px;
    max-width: 1920px;
    left: calc(50% + 116px);
    transform: translateX(-50%);
    z-index: -2;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    margin-left: -40px;
  }
  &__title {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 400;
    font-size: 73px;
    line-height: 117.66%;
    letter-spacing: 11.5px;
    color: #311D0D;
    margin-top: 292px;
  }
  &__subtitle {
    margin-top: 6px;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    color: #0E0701;
  }

  &__quote {
    margin-top: 371px;
    width: 305px;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 1.3px;
    color: #0E0701;
    position: relative;
    margin-right: -45px;
    &::before,
    &::after {
      content: '“';
      position: absolute;
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 63px;
      line-height: 44px;
      color: #8E7561;
      top: -12px;
      left: -25px;
    }
    &::after {
      content: '”';
      left: auto;
      top: auto;
      bottom: -58px;
      right: -8px;
    }
  }
}

