.title {
	font-family: 'Neucha', sans-serif;
	font-weight: 400;
  color: #8E7561;
	font-size: 60px;
  line-height: 66px;
	letter-spacing: 2px;
  &_product-item {
    font-size: 64px;
    line-height: 115.66%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #0E0701;
  }
  &_lessons,
  &_requests {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
    margin-top: 95px;
  }
  &_card {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 2px;
    color: #0E0701;
    //text-align: center;
  }
}